@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td {
  height: 120px;
  width: 120px;
  border: 3px solid black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 85px;
  font-weight: bold;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td{
  border-bottom-color: transparent;
}

h6, h1{
  text-align: center;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
